*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: .5rem;
}